<div class="run-rom">

    <div class="screen">
        <div class="viewport">
            <emulator type="{{ emulator.type }}" rom="{{ emulator.rom }}" size-monitoring="size" width="{{ size.width }}" height="{{ size.height }}">
            </emulator>
        </div>
    </div>

    <div class="controls">

        <div class="pad">
            <div class="up" button-to-key="38 to emulator canvas"></div>
            <div class="down" button-to-key="40 to emulator canvas"></div>
            <div class="left" button-to-key="37 to emulator canvas"></div>
            <div class="right" button-to-key="39 to emulator canvas"></div>
        </div>

        <div class="button button-a" button-to-key="65 to emulator canvas">A</div>
        <div class="button button-b" button-to-key="90 to emulator canvas">B</div>

        <div class="button button-start" button-to-key="13 to emulator canvas">start</div>
        <div class="button button-select" button-to-key="32 to emulator canvas">select</div>

    </div>

</div>
