{
    presets: [ 'es2015', 'stage-0' ],

    env: {
        test: {
            plugins: [
                [ 'babel-plugin-webpack-alias', {
                    config: 'webpack.config.js',
                    findConfig: true
                } ]
            ]
        }
    }
}
