{## ADD r, rrm ##}
{# 'r' can only be 'a' #}
{# 'rrm' can only be 'hl' #}

{% set r = "a" %}
{% set rrm = "hl" %}

{% set r_ = (r8 | except(r, rrm))[0] %}
{% set rrm_ = (r16 | except("af", rrm, r, r_))[0] %}
{% asmfor r_, relevant8Bits %}
    {% asmfor rrm_, addresses %}
        ld {{r}}, {{r_}}
        {{r16cpy(rrm, rrm_)}}
        add {{r}}, [{{rrm}}]
    {% endasmfor %}
{% endasmfor %}
