{## ADD rr1, rr2 ##}
{# 'rr1' can only be 'hl' #}

{% set rr1 = "hl" %}

{% for rr2 in r16 | except(rr1) %}
    {% set rr1_ = (r16 | except(rr1, rr2))[0] %}
    {% asmfor rr1_, relevant16Bits %}
        {% asmfor rr2, relevant16Bits %}
            {{r16cpy(rr1, rr1_)}}
            add {{rr1}}, {{rr2}}
        {% endasmfor %}
    {% endasmfor %}
{% endfor %}
