{## AND rrm ##}
{# 'rrm' can only be 'hl' #}

{% set rrm = "hl" %}
{% set a_ = "b" %}

{% asmfor rrm, addresses %}
    {% asmfor a_, relevant8Bits %}
        ld a, {{a_}}
        and [{{rrm}}]
    {% endasmfor %}
{% endasmfor %}
