{## AND r ##}

{% for r in r8 | except("a") %}
    {% set a_ = (r8 | except(r, "a"))[0] %}
    {% asmfor r, relevant8Bits %}
        {% asmfor a_, relevant8Bits %}
            ld a, {{a_}}
            and {{r}}
        {% endasmfor %}
    {% endasmfor %}
{% endfor %}

{% asmfor "b", relevant8Bits %}
    ld a, b
    and a
{% endasmfor %}
