{## CALL nn ##}

ld sp, $c420
jp call_nn_boot

{% for t in [0, 9, 1, 8, 2, 7, 3, 6, 4, 5] %}

call_nn_step{{t}}:
    push af
    call call_nn_step{{t + 1}}
    pop af
    ret

{% endfor %}

call_nn_step10:
ret

call_nn_boot:
call call_nn_step0
