{## CALL C nn ##}

{% for carry in [0, 1] %}
    {{set_carry(carry)}}

    ld sp, $c420
    jp call_c_nn_boot_{{carry}}

    {% for t in [0, 9, 1, 8, 2, 7, 3, 6, 4, 5] %}

call_c_nn_step{{t}}_{{carry}}:
        push af
        call call_c_nn_step{{t + 1}}_{{carry}}
        pop af
        ret

    {% endfor %}

call_c_nn_step10_{{carry}}:
    ret

call_c_nn_boot_{{carry}}:
    call call_c_nn_step0_{{carry}}

{% endfor %}
