{## CP n ##}

{% for r in r8 | except("a") %}
    {% for n in relevant8Bits %}
        {% asmfor "b", relevant8Bits %}
            ld a, b
            cp {{n}}
        {% endasmfor %}
    {% endfor %}
{% endfor %}
