{## CP r ##}

{% for r in r8 | except("a") %}
    {% asmfor r, relevant8Bits %}
        {% asmfor "a", relevant8Bits %}
            cp {{r}}
        {% endasmfor %}
    {% endasmfor %}
{% endfor %}

{% asmfor "a", relevant8Bits %}
    cp a
{% endasmfor %}
