{## JP C sn ##}

{% for carry in [0, 1] %}

    {{set_carry(carry)}}

jp_c_sn_enter{{carry}}:
    jp c, jp_c_sn_start{{carry}}

jp_c_sn_end{{carry}}:
    jp c, jp_c_sn_exit{{carry}}
jp_c_sn_next{{carry}}:
    jp c, jp_c_sn_end{{carry}}
jp_c_sn_start{{carry}}:
    jp c, jp_c_sn_next{{carry}}

jp_c_sn_exit{{carry}}:

{% endfor %}
