{## JP NC sn ##}

{% for carry in [0, 1] %}

    {{set_carry(carry)}}

jp_nc_sn_enter{{carry}}:
    jp nc, jp_nc_sn_start{{carry}}

jp_nc_sn_end{{carry}}:
    jp nc, jp_nc_sn_exit{{carry}}
jp_nc_sn_next{{carry}}:
    jp nc, jp_nc_sn_end{{carry}}
jp_nc_sn_start{{carry}}:
    jp nc, jp_nc_sn_next{{carry}}

jp_nc_sn_exit{{carry}}:

{% endfor %}
