{## JR C sn ##}

{% for carry in [0, 1] %}

    {{set_carry(carry)}}

jr_c_sn_enter{{carry}}:
    jr c, jr_c_sn_start{{carry}}

jr_c_sn_end{{carry}}:
    jr c, jr_c_sn_exit{{carry}}
jr_c_sn_next{{carry}}:
    jr c, jr_c_sn_end{{carry}}
jr_c_sn_start{{carry}}:
    jr c, jr_c_sn_next{{carry}}

jr_c_sn_exit{{carry}}:

{% endfor %}
