{## JR NC sn ##}

{% for carry in [0, 1] %}

    {{set_carry(carry)}}

jr_nc_sn_enter{{carry}}:
    jr nc, jr_nc_sn_start{{carry}}

jr_nc_sn_end{{carry}}:
    jr nc, jr_nc_sn_exit{{carry}}
jr_nc_sn_next{{carry}}:
    jr nc, jr_nc_sn_end{{carry}}
jr_nc_sn_start{{carry}}:
    jr nc, jr_nc_sn_next{{carry}}

jr_nc_sn_exit{{carry}}:

{% endfor %}
