{## JR NZ sn ##}

{% for zero in [0, 1] %}

    {{set_zero(zero)}}

jr_nz_sn_enter{{zero}}:
    jr nz, jr_nz_sn_start{{zero}}

jr_nz_sn_end{{zero}}:
    jr nz, jr_nz_sn_exit{{zero}}
jr_nz_sn_next{{zero}}:
    jr nz, jr_nz_sn_end{{zero}}
jr_nz_sn_start{{zero}}:
    jr nz, jr_nz_sn_next{{zero}}

jr_nz_sn_exit{{zero}}:

{% endfor %}
