{## LDI rrm, r ##}
{# 'rrm' can only be 'hl' #}
{# 'r' can only be 'a' #}

{% set rrm = "hl" %}
{% set r = "a" %}

ld {{rrm}}, {{freeAddresses | front}}
ld {{r}}, 42

{% for address in freeAddresses %}
    ld [{{rrm}}+], {{r}}
{% endfor %}
