{## RET Z ##}

{% for zero in [0, 1] %}

    {{set_zero(zero)}}
    ld sp, $c420

    call ret_z_test{{zero}}
    jp ret_z_end{{zero}}

ret_z_test{{zero}}:
    ret z
    ret

ret_z_end{{zero}}:

{% endfor %}
