{## RET C ##}

{% for carry in [0, 1] %}

    {{set_carry(carry)}}
    ld sp, $c420

    call ret_c_test{{carry}}
    jp ret_c_end{{carry}}

ret_c_test{{carry}}:
    ret c
    ret

ret_c_end{{carry}}:

{% endfor %}
