{## RET NC ##}

{% for carry in [0, 1] %}

    {{set_carry(carry)}}
    ld sp, $c420

    call ret_nc_test{{carry}}
    jp ret_nc_end{{carry}}

ret_nc_test{{carry}}:
    ret nc
    ret

ret_nc_end{{carry}}:

{% endfor %}
