{## RR r ##}

{% for carry in [0, 1] %}
    {% for r in r8 %}
        {% set r_ = (r8 | except(r))[0] %}
        {% asmfor r_, relevant8Bits %}
            {{set_carry(carry)}}
            ld {{r}}, {{r_}}
            rr {{r}}
        {% endasmfor %}
    {% endfor %}
{% endfor %}
