{## SBC r, rrm ##}
{# 'r' can only be 'a' #}
{# 'rrm' can only be 'hl' #}

{% set r = "a" %}
{% set rrm = "hl" %}

{% for carry in [0, 1] %}
    {% set r_ = (r8 | except(r, rrm))[0] %}
    {% asmfor r_, relevant8Bits %}
        {% asmfor rrm, addresses %}
            {{set_carry(rrm)}}
            ld {{r}}, {{r_}}
            sbc {{r}}, [{{rrm}}]
        {% endasmfor %}
    {% endasmfor %}
{% endfor %}
