{## XOR r ##}

{% for r in r8 | except("a") %}
    {% asmfor r, relevant8Bits %}
        {% asmfor "a", relevant8Bits %}
            xor {{r}}
        {% endasmfor %}
    {% endasmfor %}
{% endfor %}

{% asmfor "a", relevant8Bits %}
    xor a
{% endasmfor %}
