@font-face {
    font-family: 'Capriola';
    font-style: normal;
    font-weight: 400;
    src: local('Capriola Regular'), local('Capriola-Regular'), url('../fonts/Capriola.ttf') format('truetype');
}
