@import "fonts.css";

html, body, .main {
    width: 100%;
    height: 100%;
}

html {
    background: #FFF3EC;
}

emulator, canvas {
    display: block;
}

body {
    background: initial;
}

.file-list {
    padding: 10px;
    padding-top: 60px;
}

.file-list .about {
    text-align: justify;
}

.file-list .about .sign {
    margin-top: 20px;

    text-align: right;

    font-weight: bold;
}

.file-list > :last-child {
    margin-bottom: 0;
}

.file-list .navbar .name {
    color: #fff;
}

.run-rom {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.run-rom .screen {
    display: flex;
    flex: auto;

    margin-bottom: 290px;

    padding: 10px;

    background: #AC92EC;
}

.run-rom .screen .viewport {
    display: flex;
    flex: auto;

    border-radius: 3px;

    padding: 10px;

    background: #fff;
}

.run-rom .screen .viewport emulator {
    flex: auto;
}

.run-rom .controls {
    position: absolute;
    bottom: 0; left: 0;

    width: 100%;
    height: 290px;

    background: radial-gradient(ellipse 200px 187px at center top, #AC92EC 99%, #967ADC);
}

.run-rom .controls .pad {
    position: absolute;

    width: 160px;
    height: 160px;
}

.run-rom .controls .pad .up,
.run-rom .controls .pad .down,
.run-rom .controls .pad .left,
.run-rom .controls .pad .right {
    position: absolute;

    border-radius: 5px;

    background: #fff;

    cursor: pointer;
}

.run-rom .controls .pad .up,
.run-rom .controls .pad .down {
    left: 50%;

    margin-left: -15%;

    width: 30%;
    height: 33%;
}

.run-rom .controls .pad .left,
.run-rom .controls .pad .right {
    top: 50%;

    margin-top: -15%;

    width: 33%;
    height: 30%;
}

.run-rom .controls .pad .up {
    top: 0; }
.run-rom .controls .pad .down {
    bottom: 0; }
.run-rom .controls .pad .left {
    left: 0; }
.run-rom .controls .pad .right {
    right: 0; }

.run-rom .controls .pad .up::before,
.run-rom .controls .pad .down::before,
.run-rom .controls .pad .left::before,
.run-rom .controls .pad .right::before {
    position: absolute;
    display: block;
    content: '';
}

.run-rom .controls .pad .up::before,
.run-rom .controls .pad .down::before {
    left: 50%;

    margin-left: -10px;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.run-rom .controls .pad .up::before {
    top: 20px;

    border-bottom: 10px solid #000;
}

.run-rom .controls .pad .down::before {
    bottom: 20px;

    border-top: 10px solid #000;
}

.run-rom .controls .pad .left::before,
.run-rom .controls .pad .right::before {
    top: 50%;

    margin-top: -10px;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.run-rom .controls .pad .left::before {
    left: 20px;

    border-right: 10px solid #000;
}

.run-rom .controls .pad .right::before {
    right: 20px;

    border-left: 10px solid #000;
}

.run-rom .controls .pad .up::after,
.run-rom .controls .pad .down::after,
.run-rom .controls .pad .left::after,
.run-rom .controls .pad .right::after {
    position: absolute;
    display: block;
    content: '';
}

.run-rom .controls .pad .up::after,
.run-rom .controls .pad .down::after {
    left: 50%;

    margin-left: -20px;

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.run-rom .controls .pad .up::after {
    top: 100%;

    border-top: 23px solid #fff;
}

.run-rom .controls .pad .down::after {
    bottom: 100%;

    border-bottom: 23px solid #fff;
}

.run-rom .controls .pad .left::after,
.run-rom .controls .pad .right::after {
    top: 50%;

    margin-top: -20px;

    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.run-rom .controls .pad .left::after {
    left: 100%;

    border-left: 23px solid #fff;
}

.run-rom .controls .pad .right::after {
    right: 100%;

    border-right: 23px solid #fff;
}

.run-rom .controls .button {
    position: absolute;

    font-family: Capriola;
    text-align: center;

    color: #000;
    background: #fff;

    cursor: pointer;
}

.run-rom .controls .button-a,
.run-rom .controls .button-b {
    width: 40px;
    height: 40px;

    border-radius: 20px;

    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

.run-rom .controls .button-start,
.run-rom .controls .button-select {
    width: 70px;

    border-radius: 6px;

    padding: 5px;

    font-size: 15px;
}

.run-rom .controls .pad {
    left: 25px; top: 50%; margin-top: -80px; }
.run-rom .controls .button-a {
    right: 95px; top: 25px; }
.run-rom .controls .button-b {
    right: 25px; top: 75px; }
.run-rom .controls .button-start {
    right: 25px; bottom: 80px; }
.run-rom .controls .button-select {
    right: 25px; bottom: 25px; }
