{% for bank in null | range(1, 128) %}

SECTION "Bank {{bank}}", ROMX, BANK[{{bank}}]
    {% for n in null | range(0, 2000) %}
        DB {{(bank + n) % 255}}
    {% endfor %}
{% endfor %}

{% set iterations = 10 %}

SECTION "Program Start", ROM0[$0150]

Start::

    {# Reset 'a' #}
    ld a, 0

{# ------------------------------------------------------------- #}

    {# Max ROM Bank Index #}
    ld b, 128

    {# Iterates on each ROM bank #}
rom_read_open:

        {# Sets the ROM bank number #}
        ld hl, $2000
        ld [hl], b

        {# Prepares N iterations starting from 0x8000 - N #}
        ld c, {{iterations}}
        ld hl, $8000 - 1

rom_read:
            {# Reads data #}
            ld a, [hl-]

        dec c
        jr nz, rom_read

    dec b
    jr nz, rom_read_open

{# ------------------------------------------------------------- #}

    {# Enables RAM #}
    ld hl, $0000
    ld [hl], $0A


{# ------------------------------------------------------------- #}

    {# Max RAM Bank Index #}
    ld b, 2

    {# Iterates on each RAM bank #}
ram_write_open:

        {# Sets the RAM bank number #}
        ld hl, $4000
        ld [hl], b

        {# Prepares N iterations starting from 0xC000 - N #}
        ld a, b
        ld c, {{iterations}}
        ld hl, $C000 - 1

ram_write:
            {# Writes data #}
            inc a
            ld [hl], a
            ld a, [hl-]

        dec c
        jr nz, ram_write

    dec b
    jr nz, ram_write_open

{# ------------------------------------------------------------- #}

    {# Max RAM Bank Index #}
    ld b, 2

    {# Iterates on each RAM bank #}
ram_read_open:

        {# Sets the RAM bank number #}
        ld hl, $4000
        ld [hl], b

        {# Prepares 10 iterations starting from 0xC000 - 10 #}
        ld c, {{iterations}}
        ld hl, $C000 - 1

ram_read:
            {# Reads data #}
            ld a, [hl-]

        dec c
        jr nz, ram_read

    dec b
    jr nz, ram_read_open

    halt
