* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;

    padding: 40px;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- */

.tracer {
    transition: opacity .1s;
}

.tracer-disabled {
    opacity: .4;
}

.tracer-cell-breakpoint {
    text-align: center;
}

.tracer-cell-address, .tracer-cell-opcode, .tracer-cell-label {
    font-family: monospace;
}

.tracer-row {
}

.tracer-row.active {
    background: #E8F0F3;
}

.tracer-row.tracer-current {
    background: #5D81A5;
    color: #FFFFFF;
}

.tracer-row.tracer-current.active {
    background: #577F8F;
}

.table-fixed {
    position: relative;

    display: flex;
}

.table-fixed > .table-fixed-inner {
    overflow-x: hidden;
    overflow-y: scroll;
}

.table-fixed table > .fixed-header > tr > th {
    padding: 0;
}

.table-fixed table > .fixed-header > tr > th > * {
    position: absolute;
    top: 0;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- */

#viewer-interface {
    flex: none;
    display: flex;
    flex-direction: column;

    margin-right: 20px;

    width: 200px;
}

#display {
    position: relative;
    flex: none;

    overflow: none;

    margin-bottom: 20px;
}

#display canvas {
    display: block;

    width: 100%;

    border-bottom-left-radius: 0;

    padding: 0;
}

#registers {
    flex: auto;

    border: 1px solid #CCC;
    border-radius: 4px;
}

#registers th {
    width: 20px;
}

#registers .register {
    font-family: monospace;
}

#tracer-interface {
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 100%;
}

#toolbar {
    flex: none;
    display: flex;

    margin-bottom: 20px;
}

#toolbar > * {
    border-top-width: 5px;
}

#toolbar.ready > * {
    border-color: #99BFD5;
}

#toolbar > *:last-child {
    flex: auto;
}

#toolbar > *.disabled {
    opacity: 1;

    font-family: monospace;
    text-align: left;

    pointer-events: auto;
    cursor: default;
}

#toolbar > *.disabled a {
    cursor: pointer;
}

#instructions {
    flex: 1;

    border: 1px solid #CECECE;
    border-top: 0;
}

#instructions * {
    box-sizing: content-box;
}
/*
#instructions .table-fixed-inner {
    border-top: 1px solid #CCC;
}

#instructions table {
    margin-bottom: 0;
    table-layout: fixed;
}

#instructions .fixed-header th {
    border: 0;

    line-height: 20px;
}

#instructions tbody > tr:first-child td {
    border-top: 0;
}

#instructions th > *, #instructions td {
    height: 30px;
    line-height: 30px;
    overflow: hidden;

    padding-top: 0;
    padding-bottom: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
}
*/
#control-watch .glyphicon-eye-open {
    display: none;
}

#control-watch .glyphicon-eye-close {
    display: inline;
}

#control-watch.active .glyphicon-eye-open {
    display: inline;
}

#control-watch.active .glyphicon-eye-close {
    display: none;
}
